{% extends "base.html" %}
{% block content %}
<ol>
    <li><code>django-admin startapp blogs .</code></li>
    <li>Do settings.py dodaj aplikację</li>
    <li>Przygotuj model dla Category</li>
    <li>Zarejestruj model w admin.py:
        <code>admin.site.register(Category)</code>
    </li>
    <li><code>python manage.py makemigrations</code></li>
    <li><code>python manage.py migrate</code></li>
    <li>Do settings.py dodaj instrukcje dla MEDIA - dodaj folder media</li>
    <li>Do urls.py dodaj instrukcje dla MEDIA</li>
    <li>Model 'Blog'</li>
    <li>Zarejestruj model w admin.py. i dodaj klasę 'BlogAdmin'</li>
    <li>W celu obsługi obrazów: <code>pip install Pillow</code></li>
    <li>Zmigruj bazę</li>
    <li>Zaktualizuj metodę home w views.py tak by pobierała wszystkie kategorie i 
        prześlij je do templates/home.html by wyświetlić je w menu nawigacji
    </li>
    <li>Dodaj url dla kategorii w urls.py</li>
    <li>Aby context był dostępny dla innych szablonów, stwórz plik 'context_processors.py'
        i zarejestruj go w settings.py</li>
    <li>Stwórz widok pojedyńczego bloga: w urls dodaj path będący slugiem.</li>
    <li>Aby aktualizować wszystkie pakiety należy otworzyć plik requirements.txt i podmienić
        znak równości na &gt;= i (użyj skrótu option+command+f):
        <code>pip install -r requirements.txt --upgrade</code>
        <code>pip freeze &gt; requirements.txt</code>
    </li>
    <li><code>backports.zoneinfo==0.2.1;python_version&lt;"3.9" w requirements.txt
        wprowadza zalecenie dla pip, żeby instalował backports.zoneinfo dla Pythona mniejszego niż 3.8
    </code></li>
</ol>
<h1>Po kolei, ogólnie:</h1>
<ol>
    <li>Tworzenie nowego projektu</li>
    <li>Tworzenie aplikacji</li>
    <li>.gitignore i Github</li>
    <li>custom 404.html - działa tylko w debug False i AllowedHost '*'
        Nie potrzebny url ani view.
    </li>
    <li>Urls dla home</li>
    <li>base.html, home.html, static, templates</li>
    <li>Tworzenie modelu Category</li>
    <li>contextProcesor dla category</li>
    <li>link dla posts_by_category</li>
    <li>views.py dla posts_by_category</li>
    <li>posts_by_category.html</li>
    <li>Dodać odnośnik do kategorii w home.html</li>
    <li><code>pip install Pillow</code></li>
    <li>Tworzenie modelu Blog</li>
    <li>W trakcie rejestrowania modelu, dodaj klasę 'BlogAdmin'</li>
    <li>Media w settings.py</li>
    <li>Media w urls.py</li>
    <li>Aplikacja assignments dla modelu SocialLink (migrate)</li>
    <li>contextProcesor dla social_links (settings.py)</li>
    <li>Dostosuj home.html dla social_links</li>
    <li>About w assignments: model, admin.py, migracja, dodanie treści w 
        panelu admina, views.py (def home), home.html</li>
    <li>Search panel: urls, views, search.html, ręczny formularz (bez forms.py) w base.html</li>
</ol>
<h2>Rejestracja i logowanie</h2>
<ol>
    <li><code>python manage.py startapp accounts</code></li>
									<li>settings.py: dodaj apklikację 'accounts'</li>	
									<li>accounts/urls.py:</li>
										<pre><code>
from django.urls import path
from . import views
from django.contrib.auth import views as auth_views

urlpatterns = [
	path('register/', views.register, name='register'),
	path('login', auth_views.LoginView.as_view(template_name='login.html'), name='login'),
    path('logout', auth_views.LogoutView.as_view(template_name='logout.html'), name='logout'),
]
										</code></pre></li>
									<li>accounts/forms.py:
										<pre><code>
from django import forms
from django.contrib.auth.forms import UserCreationForm
from django.contrib.auth.models import User

class CustomRegisterForm(UserCreationForm):
    email = forms.EmailField()

    class Meta:
        model = User
        fields = ['username', 'email', 'password1', 'password2']
										</code></pre></li>
									<li>accounts/views.py:
										<pre><code>
from django.shortcuts import render, redirect
from django.contrib import messages
from .forms import CustomRegisterForm

def register(request):
    if request.method == 'POST':
        form = CustomRegisterForm(request.POST)
        if form.is_valid():
            form.save()
            messages.success(request, f'Account created successfully!')
            return redirect('index')
    else:
        form = CustomRegisterForm()
    return render(request, 'register.html', {'form': form})

										</code></pre></li>
									<li>accounts/templates/register.html</li>
									<li>accounts/templates/login.html</li>
									<li>accounts/templates/logout.html</li>
									<li><code>pip install crispy-bootstrap5</code></li>
									<li>settings.py: <code>CRISPY_TEMPLATE_PACK = 'bootstrap5'</code></li>
									<li>settings.py: <code>CRISPY_ALLOWED_TEMPLATE_PACKS = 'bootstrap5'</code></li>
									<li>settings.py: INSTALLED_APPS: <code>'crispy_forms',</code></li>
									<li>settings.py: INSTALLED_APPS: <code>'crispy_bootstrap5',</code></li>
									<li>settings.py, wskazać miejsce przeniesienia
										po zalogowaniu: <code>LOGIN_REDIRECT_URL = 'index'</code></li>
									<li>website/views.py: <code>from django.contrib.auth.decorators import login_required</code></li>
									<li>Udekoruj wszystkie strony z logowaniem: <code>@login_required</code></li>
									<li>W przypadku nie zalogowanego użytkownika, przekieruj na strone logowania, settings.py: <code>LOGIN_URL = "login"</code></li>
									<li>Usuń dotychczasową bazę danych</li>
									<li>website/models.py, dodaj pole 'manage': <code>manage = models.ForeignKey('auth.User', on_delete=models.CASCADE, default=None)</code></li>
									<li>website/views.py:
										<pre><code>
@login_required
def home(request):
    if request.method == 'POST':
        form = PostForm(request.POST or None)
        if form.is_valid():
            form.save(commit=False).manage = request.user
            form.save()
        return redirect('home')
    else: # GET
        posts = Post.objects.filter(manage=request.user)
    return render(request, 'home.html', {'posts': posts})
										</code></pre></li>
									<li>Szablon edit.html również wymaga zabezpieczenia (if request.user == post.manage).</li>	
	<li>Aby wylogować użytkownika stwórz logout.html, podaj do niego template w urls.py.</li>
	<li>Uwaga, w Django 5.0 aby się wylogować należy użyć metody POST i tokena crsf, więc akcję logout
wykonuje się w formularzu (w szablonie base.html).</li>	
</ol>
<h2>Dashboard</h2>
<ol>
    <li>Aplikacja dashboard</li>
    <h4>Dashboard - kategorie</h4>
    <li>dashboard/urls.py</li>
    <li>Utwórz szablon dashboard.html</li>
    <li>dashboard/forms.py</li>
    <li>dashboard/views.py</li>
    <li>dashboard/templates/categories.html</li>
    <li>dashboard/templates/add_category.html</li>
    <li>dashboard/templates/edit_category.html</li>
    <h4>Dashboard - posts</h4>
    <li>dashboard/urls.py</li>
    <li>dashboard/forms.py</li>
    <li>dashboard/views.py</li>
    <li>dashboard/templates/posts.html</li>
    <li>dashboard/templates/add_post.html</li>
    <li>dashboard/templates/edit_post.html</li>
    <h4>Dashboard - users</h4>
    <li>dashboard/urls.py</li>
    <li>dashboard/forms.py</li>
    <li>dashboard/views.py</li>
    <li>dashboard/templates/users.html</li>
    <li>dashboard/templates/add_user.html</li>
    <li>dashboard/templates/edit_user.html</li>
</ol>
<h2>Comments</h2>
<ol>
    <li>dashboard/urls.py</li>
    <li>dashboard/forms.py</li>
    <li>dashboard/views.py</li>
    <li>dashboard/templates/comments.html</li>
    <li>dashboard/templates/add_comment.html</li>
    <li>dashboard/templates/edit_comment.html</li>
</ol>


<h2>Github</h2>
<ol>
    <li>ssh-keygen -t ed25519 -C "twój_mail"</li>
    <li>cat ~/.ssh/id_ed25519.pub</li>
    <li>Na stronie Github po prawej u góry kliknąć avatar i wybrać settings-acces-SSH-add SSH i dodać skopiowany klucz ssh</li>
</ol>
<h6>andrzejczak, Pln</h6>
{% endblock %}
